.App {
  display: flex;
  flex-direction: column;
  width: max(400px, 40vw);
  height: 470px;
  background: #dddddd;
  text-align: center;
  margin: auto;
  margin-top: 20vh;
  border-radius: 10px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
}
.todo-button {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
body {
  font-family: "Nunito Sans", sans-serif;
  background: linear-gradient(to left, #182848, #637fc0);
  position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  background: #040404
    url("https://images.unsplash.com/photo-1515847049296-a281d6401047?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80")
    center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  width: 90%;
}
.delete-icon {
  cursor: pointer;
  position: relative;
}
.delete-icon:hover {
  transition: all 1s;
  font-size: 1.8rem;
}
@keyframes fade-left {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}
.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #70abd3;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}